#node_modules
node_modules

#images
docs/.vuepress/public/备案图标.png
docs/.vuepress/public/images/

#VuePress files
.yarn/cache
.yarn/plugins
.yarn/unplugged
.yarn/install-state.gz
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/